<style>
    body{
        margin: 0;
        font-family: "Noto Sans KR",sans-serif;
    }
    .header{
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:10px 20px;
        background-color: antiquewhite;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
        max-height: 100px;
    }
    .linkusr{
        float: right;
        display: flex;
        gap: 20px;
    }
    .linkusr a{
        text-decoration: none;
        color:#007baa;
        font-weight: bold;
    }
    .linkusr a:hover{
        color: #8888ff;
        text-decoration: underline;
    }
    nav{
    	font-size: 12pt;
    	position: relative;
    }
    nav ul{
    	padding: 0;
    	margin: 0 auto;
    	display: flex;
        justify-content: space-between;
    }
    nav ul li{
        position: relative;
        flex: 1;
        list-style: none;
    }
    nav li{
    }
    nav a{
    	line-height: 50px;
      height: 50px;
    }
    nav li a{
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    }
    nav li:last-child a{
    	border-right: 0;
        }
    nav a:hover, nav a:active{
    }
    nav a#pull{
    	display: none;
    }
    html {
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    }

    ul{
        /*list-style-type: none;*/
        margin: 0;
        padding: 0;
        text-align: center;
    }
    li{
        /*position: relative;*/
        display: inline-block;
    } 

    li a{
        background-color: #AFD485;
        color: #000000;
        text-align: center;
        padding: 14.5px 16px;
        text-decoration: none;
    }
    li a:hover{
        color: #FFFFFF;
        font-weight:normal;
    }
    .menu {
    width: 100%;
    height: 50px;
    text-align: center;
    max-width: 100%;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-color: #AFD485;color: #032807;
    position: absolute;z-index: 1;
    }
    .sub-menu{
        display: none;
        position: absolute;
        width: 100%;
        background-color: #F1F8E9;
        z-index: 1;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        opacity: 0;
        transition: opacity -0.5s ease, transform 0.5s ease;
        transform: translateY(-30px);
    }
    .sub-menu a{
        background-color: #F1F8E9;
    }
    .sub-menu li{
        display: block;
    }
    .sub-menu a:hover{
        color: #FFD400;
        font-weight:normal;
    }
    li:hover .sub-menu{
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
</style> 